/* Container styling */
.container {
    width: 90%;
    margin: 0px;
    padding: 20px;
    border-radius: 10px;
}

.user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    width: 100%;
}

/* Individual user button */
.userBtn {
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
    justify-items: 1fr auto;

}

.userBtn:hover {
    background-color: #f3f3f3;
    transform: scale(1.02);
}

/* Profile Image */
.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    padding: 2px;
}

/* User Information */
.infoContainer {
    flex-grow: 1;
    margin-left: 15px;
}

.userInfo {
    margin: 4px 0;
    color: #333;
}

/* Name */
#username {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Occupation & Location */
#occupation,
#location {
    font-size: 0.9rem;
    color: #666;
}

/* Follow Button */
.followBtn {
    margin-left: auto;
}

.follow {
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    background-color: #FF4500;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
}

.follow:hover {
    background-color: #e03e00;
}