.chat-container {
  width: 300px;
  height: 75vh;
  /* Adjust height if you want to limit height */
  background-color: #f6f6f6;
  border-radius: 20px;
  color: black;
  position: fixed;
  right: 0;
  top: auto;
  /* This will position it from the top. Adjust as needed */
  bottom: 0px;
  /* You can also use bottom if you want it fixed at the bottom */
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 30px;
  box-shadow: -2px 0 5px #e0dfdf(0, 0, 0, 0.5);
}


/* Chat Header */
.chat-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Chat Messages Area */
.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

/* Chat Input and Send Button */
.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-input input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chat-input button {
  width: 15%;
  padding: 8px;
  background-color: #0079d3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #005f8d;
}