.Editor {
    max-width: 870px; 
    max-height: 800px;
    min-width: 870px; 
    min-height: 350px;
    margin-bottom: 1rem; 
    margin-right: 50px;
    padding: 0.5rem; 
    font-size: 1rem; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    box-sizing: border-box; 
    
}