@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Anta&family=Basic&family=Baumans&family=Doto:wght@100..900&family=Faculty+Glyphic&family=Marmelad&family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 450px);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    height: 60%;
    width: 55%;
}

.Users {
    min-width: 250px;
    max-width: 250px;
    border-radius: 0 20px 20px 0;
}

.userTitle {
    margin-top: 50px;
    margin-left: 10px;

    font-family: "Raleway";
}

.userList {
    margin-top: 5px;
    margin-left: 20px;
    font-family: "Poppins";

}

@media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
        height: 100%;
    }

    .container {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 480px) and (max-width: 1200px) {
    .container {
        width: 60%;
    }
}