/* .messenger {
    height: 600px;
    width: 1050px;
    margin: 120px 40px 20px 350px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.chatMenu {
    flex: 3;
    border-right: 1px solid #ccc;
}

.conversationContainer {
    height: 517px;
    overflow-y: scroll;

}

.search {
    width: 90%;
    margin-top: 15px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;

}

.chatHr {
    width: auto;
}

.chatBox {
    flex: 5.5;

}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 550px;
    overflow-y: scroll;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 0px;
}

.chatSubmitBtn {
    width: 70px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 0px;

}

.chatSubmitBtn:hover {
    background-color: #ccc;

} */