@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Alexandria:wght@100..900&family=Anta&family=Basic&family=Baumans&family=Doto:wght@100..900&family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marmelad&family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.CreatePost-Container {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1024px;
    height: 630px;
    position: absolute;
    margin-left: 50px;
    top: 1.2in;
    left: 55%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    box-sizing: border-box;
}


.CreatePost-Container h1 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 5px;
    color: black;
    text-align: left;
    width: 100%;
}

.CreatePost-Container .title {
    max-width: 930px;
    min-width: 930px;
    height: 70px;
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-right: 35px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
}

.CreatePost-Container .image {
    width: 300px;
    height: 70px;
    margin: 0.5rem 0rem 0.5rem 1rem;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
    /* display: none; */
}


.CreatePost-Container .Post-Button {
    width: 69px;
    height: 48px;
    padding: 0.5rem;
    margin-right: 50px;
    background-color: #ff3500;
    color: white;
    border-radius: 20px;
    border: none;
    font-family: "Afacad", serif;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.ButtonPosition {
    display: flex;
    justify-content: end;
    align-items: end;
}


.CreatePost-Container .Post-Button:hover {
    background-color: #b30000;
}

.Editor {
    max-width: 870px;
    max-height: 350px;
    min-width: 870px;
    min-height: 350px;
    padding-top: 5rem;
    margin-bottom: 1rem;
    margin-right: 100px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 15px;
    box-sizing: border-box;

}