@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Alexandria:wght@100..900&family=Anta&family=Basic&family=Baumans&family=Doto:wght@100..900&family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marmelad&family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  position: absolute;
}

.coverImg {
  margin: 83px 0 0 256px;
  grid-row: 1;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;

}

.viewPost {
  margin: 50px 0 0 270px;
  margin-left: -40px;
  margin-top: 190px;

}

.GroupProfile {
  display: flex;
  width: 1210px;
  height: 200px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 245px;
  left: 280px;
  padding: 20px;
  border-radius: 50%;
  /* background-color: #f9f9f9;  */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.GroupProfile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 1.5in;
  position: absolute;
  z-index: 21;
  border: 2px solid #ccc;
  padding: 3px;
}

.GroupProfile h2 {
  font-size: 28px;
  position: absolute;
  left: 200px;
  margin-top: 150px;
  font-family: "Raleway";
  font-size: 3rem;
  text-transform: capitalize;

}

.createPostBtn {
  position: absolute;
  right: 50px;
  font-family: "Afacad", serif;
  font-size: 1.3rem;
  line-height: 1.5;
  background-color: #ff4500;
  color: white;
  margin-top: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.GroupProfile button:hover {
  background-color: #ff3300b6;
}

.hr {
  width: 1250px;
  margin-top: 350px;
  border: 1px solid #0000004a;
}

.GroupDesc {
  display: flex;
  width: 350px;
  height: 350px;
  position: relative;
  top: 550px;
  left: 1130px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.GroupDescLi {
  list-style-type: none;
  font-family: "Raleway";
  padding: 5px;
  line-height: 1.5;
}