.container {
    width: 600px;
    margin: 140px 200px 0 350px;
    /* background-color: rgb(255, 255, 255);
    border: 1px solid #333;
    border-radius: 20px; */
}

.guthiyar {
    margin: 10px 0 10px 20px;
}