.title {
    margin-left: 525px;
    margin-top: 130px;
    font-family: "Red Hat Display", serif;
    font-size: 1.5rem;
    width: fit-content;
}

.Navbar {
    margin: 0;
    padding: 0;

}

.noPostDisplay {
    margin: 150px 450px 0 350px;
    font-family: "Red Hat Display", serif;
    font-size: 3.2rem;
    font-weight: 200;
    text-align: center;
}