* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: white;
    border-radius: 20px;
    width: 800px;
    height: 500px;
    margin-top: 130px;
    margin-left: 350px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.settingsHeadeing {
    text-align: center;
    font-family: "Raleway", serif;
    font-weight: 500;
    padding: 20px;
}

/* logout button */
.logout-button {
    font-family: 'Roboto';
    position: relative;
    display: flex;
    align-items: start;
    gap: 35px;
    padding-top: 15px;
    padding-right: 8px;
    font-size: 14px;
    border: none;
    font-weight: bold;
    height: 48px;
    width: fit-content;
    margin: 20px 20px 320px 20px;
    background-color: #ccc;
    border: 1px soild #ccc;
    border-radius: 15px;

}

.logout-button:hover {
    background-color: #ccccccb1;
}

.logout_icon {
    align-items: center;
    Width: 24px;
    Height: 17px;
    Top: 12px;
    Left: 16px;
}