.CreatePost-Container {
    background: white;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    width: 1024px; 
    height: 590px; 
    position: absolute; 
    margin-left: 50px;
    top: 1.2in; 
    left: 55%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to align the center of the container */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    padding: 1rem; /* Add padding inside the container */
    box-sizing: border-box; 
    display: flex;
    /* justify-content: end; */
    align-items: end;
}


.CreatePost-Container h1 {
    font-size: 1.5rem; 
    font-weight: bold;
    /* margin-bottom: 1rem;  */
    padding-left: 20px;
    padding-bottom: 5px;
    color: black; 
    text-align: left; 
    width: 100%; 
}





.CreatePost-Container .title{
    max-width: 930px;
    min-width: 930px;
    height: 70px;
    margin-bottom: 1rem; 
     
    font-size: 1rem; 
    margin-bottom:5px;
    margin-right:35px;
    margin-left: 10px;
    border: 1px solid #ddd; 
    border-radius: 15px; 
    box-sizing: border-box; }


.CreatePost-Container .Post-Button {
    width: 69px; 
    height: 48px;
    padding: 0.5rem; 
    margin-right: 50px;
    background-color: orangered; /* Blue background */
    color: white; 
    border-radius: 15px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    
}

.ButtonPosition  {
    display: flex;
    justify-content: end;
    align-items: end;
}


.CreatePost-Container .Post-Button:hover {
    background-color: #b30000; 
}

.Editor {
    max-width: 870px; 
    max-height: 350px;
    min-width: 870px; 
    min-height: 350px;
    padding-top: 5rem;
    margin-bottom: 1rem; 
    margin-right: 100px;
    padding: 0.5rem; 
    font-size: 1rem; 
    border-radius: 15px; 
    box-sizing: border-box; 
    
}


