.PostReq-Container {
    background: white;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: left;
    width: 928px; 
    height: 558px; 
    position: absolute; 
    top: 38px; 
    left: 90px; 
    bottom: 50px;
    transform: translateX(-50%); /* Adjust to align the center of the container */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    margin:100px 800px ; 
    padding: 0.5rem; /* Add padding inside the container */
    box-sizing: border-box; 
    
}
.Heading {
text-align:left;
padding-bottom: 0%;

    
}


.Heading {
    text-align: left;
    margin-bottom: 20px;
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 0%;
}

.form-group {
    display: flex;
    align-items: center;  
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-right: 10px;  
    width: 100px;  
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 750px; 
}



textarea {
    height: 100px;  
    width: 750px;
    resize: vertical; 
    
}

.post-request-btn {
    position: absolute;
    text-align: center;
    line-height: 1.5px;
    bottom: 20px;  
    right: 20px;  
    background-color: orangered;
    color: white;
    padding: 20px 20px;
    margin-right: 20px;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    cursor: pointer;
}

.post-request-btn:hover {
    background-color: orangered;  
}