.Editor {
    width: 110%;
    max-width: 940px;
    margin: 1rem;
    margin-left: 0.4rem;
}



.post-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.post-content img {
    max-height: 400px;
}