#form {
    width: 200px;
    display: grid;
    grid-template-columns: 2fr 0.1fr;
    align-items: center;
    gap: 5px;
}

.search {
    width: 300px;
    padding-left: 5px;
    margin-left: 5px;
}

#searchBtn {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;

}

.serachBtnImg {
    width: 30px;
    height: 30px;
    padding: 2px;
}