.container {
    width: 360px;
    margin: 100px 0 20px 350px;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
}

.hr {
    border: 1px solid hwb(0 20% 80% / 0.293);
    width: 360px;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 23px;
}