@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Alexandria:wght@100..900&family=Anta&family=Basic&family=Baumans&family=Doto:wght@100..900&family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marmelad&family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    margin: 100px;
    border: 1px solid #504e4e;
    border-radius: 20px;
    width: 332px;
    height: 541px;
    box-shadow: 5px 8px 5px grey;
}

.profileImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin: 0;
}

.profile {
    width: 150px;
    border-radius: 50%;
    border: 1px solid #000;
}

.intro {
    text-align: center;
    margin: 0 0 10px 0;
}

.name {
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 700;
    color: #242760;
    margin: 0 0 5px 0;
}

.bio,
.Ocupation {
    font-family: "Inter", serif;
    font-size: 15px;
    font-weight: 300;
    color: #504e4e;
}

.locationBlock {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
    margin-left: 100px;
    align-items: center;
}

.LocationName {
    margin: 10px 0;
    font-family: "Inter", serif;
    font-size: 15px;
    font-weight: 300;
    color: #504e4e;
}

.followShow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 30px;
    gap: 30px;
}

.followerCount,
.followingCount,
.likeCount {
    color: #242760;
    font-family: "Inter", serif;
    font-weight: bold;
    font-size: 36px;
}

.followers,
.following,
.likes {
    color: #272828;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.editProfile {
    background-color: #242760;
    color: #fff;
    width: 264px;
    height: 40px;
    border-radius: 20px;
    margin: 40px 30px;
    font-family: "Inter", serif;
    font-size: 15px;
}